@media (max-width: 768px) {

    .card {
        margin: 1.5rem;
        width: auto;
        height: auto;
        border-radius: 15px;
        background: #fafafa;
        box-shadow: 15px 15px 30px #bebebe,
            -15px -15px 30px #ffffff;
        justify-content: center;
    }

    .buttonBook {
        width: fit-content;
        min-width: 100px;
        height: 45px;
        padding: 8px;
        border-radius: 5px;
        border: 2.5px solid #E0E1E4;
        box-shadow: 0px 0px 20px -20px;
        cursor: pointer;
        background-color: white;
        transition: all 0.2s ease-in-out 0ms;
        user-select: none;
        /* font-family: 'Poppins', sans-serif; */
    }

    .buttonBook:hover {
        background-color: #F2F2F2;
        box-shadow: 0px 0px 20px -18px;
    }

    .buttonBook:active {
        transform: scale(0.95);
    }

    .btn {
        align-self: flex-end;
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-weight: 500;
        border: 1px solid transparent;
        border-radius: 2px;
        height: 36px;
        line-height: 34px;
        font-size: 14px;
        color: black;
        background-color: #efeeea;
        transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
        padding: 0 18px;

        :hover {
            color: #241c15;
            background-color: #d9d7cd;
        }
    }

    .bookBtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .timeGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        max-width: 300px;
        width: 100%;
        margin: auto;
    }

    .timeBtn {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background: white;
        cursor: pointer;
        font-size: 14px;
        transition: 0.2s;
    }

    .timeBtn:hover {
        background: #fff;
        border-color: rgb(198, 153, 134);
    }

    .timeBtn.active {
        background: rgb(198, 153, 134);
        border-color: rgb(198, 153, 134);
        color: white;
    }

    .dateRow {
        display: flex;
        gap: 12px;
        overflow-x: auto;
        padding: 8px 4px 12px 4px;
        scroll-snap-type: x proximity;
        -webkit-overflow-scrolling: touch;
    }

    .dateRow::-webkit-scrollbar {
        display: none;
    }

    .dateBtn {
        flex: 0 0 auto;
        min-width: 90px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background: white;
        cursor: pointer;
        font-size: 14px;
        transition: 0.2s;
        scroll-snap-align: start;
    }

    .dateBtn:hover {
        background: #f3f3f3;
        border-color: #999;
    }

    .dateBtn.active {
        background: #000;
        color: white;
        border-color: #000;
    }

}

@media (min-width: 768px) {

    .bookingWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* centers everything horizontally */
    }

    .bookingWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin: 0 auto;
    }

    .timeGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        max-width: 300px;
        width: 100%;
        justify-content: center;
        margin: auto;
    }

    .dateRow {
        display: flex;
        gap: 12px;
        overflow-x: auto;
        padding: 8px 4px 12px 4px;
        scroll-snap-type: x proximity;
        -webkit-overflow-scrolling: touch;

        justify-content: center;
        /* 👈 centers when NOT overflowing */
    }

    .dateRow {
        margin-bottom: 1rem;
    }

    .buttonBook {
        width: fit-content;
        min-width: 100px;
        height: 45px;
        padding: 8px;
        border-radius: 5px;
        border: 2.5px solid #E0E1E4;
        box-shadow: 0px 0px 20px -20px;
        cursor: pointer;
        background-color: white;
        transition: all 0.2s ease-in-out 0ms;
        user-select: none;
        /* font-family: 'Poppins', sans-serif; */
    }

    .buttonBook:hover {
        background-color: #F2F2F2;
        box-shadow: 0px 0px 20px -18px;
    }

    .buttonBook:active {
        transform: scale(0.95);
    }


    .btn {
        align-self: flex-end;
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-weight: 500;
        border: 1px solid transparent;
        border-radius: 2px;
        height: 36px;
        line-height: 34px;
        font-size: 14px;
        color: black;
        background-color: #efeeea;
        transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
        padding: 0 18px;

        :hover {
            color: #241c15;
            background-color: #d9d7cd;
        }
    }

    .bookBtn {
        padding-right: 3rem;
    }

    .dateBtn {
        flex: 0 0 auto;
        min-width: 90px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background: white;
        cursor: pointer;
        font-size: 14px;
        transition: 0.2s;
        scroll-snap-align: start;
    }

    .dateBtn:hover {
        background: #f3f3f3;
        border-color: #999;
    }

    .dateBtn.active {
        background: #000;
        color: white;
        border-color: #000;
    }

    .timeBtn {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background: white;
        cursor: pointer;
        font-size: 14px;
        transition: 0.2s;
    }

    .timeBtn:hover {
        background: #fff;
        border-color: rgb(198, 153, 134);
    }

    .timeBtn.active {
        background: rgb(198, 153, 134);
        border-color: rgb(198, 153, 134);
        color: white;
    }



}


.cal-body_day {
    border: 1px solid #ccc;
    background: white;
    border-radius: 10px;
    min-height: 44px;
    cursor: pointer;
    transition: 0.2s;
}

.cal-body_day:hover {
    background: #f3f3f3;
}

.active {
    background: #000;
    color: white;
    border-color: #000;
}

.feedForm {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;

}

.feedForm input {
    height: 54px;
    border-radius: 5px;
    background: white;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
}

.buttonSubmit:hover,
.feed-form input:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 3px 0px #212529;
}

.buttonSubmit {
    width: 100%;
    height: 54px;
    font-size: 14px;
    color: white;
    background: red;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
}

.nextBtn {

    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 16px;
    background: #fff;
    color: #000000;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;

    :hover {
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
    }

}


.returnBtn {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}